*{
    margin:0;
    padding:0;
}
a{text-decoration:none}
a:hover{text-decoration:none}
html,body{
    height:100%;
}
.box{
    min-height:100%;
    position:relative;
}
.header{
    text-align:center;
    padding: 15px 0px 0px 150px;
    display: flex;
    height:83px;
    font-family:"Simsun";
    font-weight: 799;
    font-size:30px;
    color:#38a7ff;
    background:#fbfbfb;
    border: 2px solid #ccc;
    box-shadow:
            7px 10px 15px rgba(0,0,0,0.1),
            inset 0px 0px 0px #CCCCCC,
            inset 0px 0px 0px rgba(0,0,0,0.1);
}
.sharing{
    padding: 10px;
    width:750px;
    float: left;
    text-align: center;
}
.footer{
    font-family:arial;
    font-size: 30px;
    position:absolute;
    bottom:0;
    width:100%;
    background-color:#fbfbfb;
    text-align:center;
    box-shadow:-3px -3px 2px #fff,
            7px 7px 8px rgba(0,0,0,0.1),
            inset -9px -9px 9px #fff,
            inset 9px 9px 9px rgba(0,0,0,0.1);
}
.head{
    text-align: center;
    float :left;
    width :680px;
    height : 380px;
    padding: 40px 0px 0px 0px;
    border: 4px solid #ccc;
    background: #fbfbfb;
    border-radius:47%;
    box-shadow:-4px -4px 6px #fff,
        10px 10px 15px rgba(0,0,0,0.1),
        inset -5px -5px 15px #fff,
        inset 5px 5px 15px rgba(0,0,0,0.1);
}
.auto{
    height: 340px;
}
#fenxiang{
    display: inline;
    font-weight: 4000;
    font-size :40px;
    color:#38a7ff;
    font-family: Simsun;
}
.kuai{
    margin:0px;
    width:200px;
    min-height: 37px;
    padding: 20px;
    margin: 0px 20px 20px;
    background:#fbfbfb;
    border: 2px solid #fff;
    float :left;
    text-align: center;
    box-shadow:-3px -3px 4px #fff,
            4px 4px 5px rgba(0,0,0,0.1),
            inset -3px -3px 8px #fff,
            inset 3px 3px 8px rgba(0,0,0,0.1);
    
}
#item{
    width: 580px;
    margin: 0 auto;
}
.container{
    width:700px;
    height:450px;
    margin: 0 auto;
    padding: 80px 30px 60px 60px;
}
.caption{
    width:720px;
    height:70px;
    margin:0px;
}
.dayrecord{
    width:34px;
    height:34px;
    float:left;
}
.log_icon{
    width:65px;
    height:65px;
    float:left;
}
.font{
    width:350px;
    height:80px;
}
