
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f9f9f9;

}

.music{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 400;
    font-size: 3em;
    font-family: "Quicksand";
    color:coral;
    text-align: center;
    margin-bottom: 50px;
}

.player {
    position: relative;
    width: 750px;
    min-height: 160px;
    background:#fbfbfb;
    border: 2px solid #fff;
    border-radius: 160px;
    padding: 30px 40px;
    box-shadow: -10px -10px 15px#fff,
                10px 10px 15px rgba(0,0,0,0.1),
                inset -5px -5px 15px #fff,
                inset 5px 5px 15px rgba(0,0,0,0.1) ;
}

.btns {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background: red; */

}
.btns div {
    position: relative;
    width: 130px;
    height:130px;
    border-radius: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    cursor: pointer;
    box-shadow: inset 0 -5px 5px rgba(0,0,0,0.1),
                      0 5px 10px rgba(0,0,0,0.1),
                      0 10px 15px rgba(0,0,0,0.1);

}
.btns div:active,
.btns div.active
 {
    color:coral;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,0.15),
                inset 0 2px 5px rgba(0,0,0,0.15);
}

.btns .playPause {
    height: 170px;
    width: 170px;

}
.btns .material-icons {
    font-size: 4em;

}
.btns .playPause span {
    font-size: 5em;
}