.sharing{
    text-align:center;
    width: 500px;
    margin: 0 auto;
}
.book{
    font-family: "STKaiti";
    font-size: 30px;
    width: 500px;
    height: 65px;
    line-height: 15px;
    text-align: center;
    border :2px solid #bbb;
    overflow: hidden;
    background-color :#fff;
    margin: 6px;
    box-shadow:  inset 3px 5px 10px black,
                -2px -2px 1px white;
}
.book a{
    color: #000;;
    font-weight: 600;
    text-decoration: none;
}
.book a:hover{text-decoration: none};