.sharing{
    text-align:center;
    width: 750px;
    padding: 70px 0px;
    margin: 0 auto;
}
.book{
    font-family: "FZShuTi";
    font-size: 50px;
    width: 750px;
    height: 130px;
    line-height:30px;
    text-align: center;
    overflow: hidden;
    background-color :#fff;
    margin: 4px;
    box-shadow:  inset 3px 5px 10px black,
                -4px -4px 5px white;
}
.book a{
    color:#333;
    text-decoration: none;
    font-weight: 750;
}
.book a:hover{text-decoration: none};